<mat-card>
  <mat-card-title>
    Déclarer un litige
  </mat-card-title>
  <form [formGroup]="formGroup" (ngSubmit)="ngSubmit()">
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Objet" formControlName="object" />
        <mat-error *ngIf="!formGroup.hasError('required')">
          Please enter an object
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Message" formControlName="message" />
        <mat-error *ngIf="!formGroup.hasError('required')">
          Please enter a message
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button [disabled]="!formGroup.valid">Cancel</button>
      <button mat-button type="submit" [disabled]="!formGroup.valid">Save</button>
    </mat-card-actions>
  </form>
</mat-card>
